html{
    background-color: #F5F5F4;
    font-family: 'Quicksand', sans-serif;
}
header{
    padding-top: 1%;
}
footer{
    background-color: #9D7982;
    left: 0;
    padding: 1%;
    font-weight: bold;
}
h1, h2, h3{
    font-family: 'Satisfy', sans-serif;
}
#navbar{
    background-color: #9D7982;
    padding: 1%;
}
#navbar a{
    width: 25%;
    display: inline-block;
    text-align: center;
    border: 2px solid #9D7982;
    background-color: #A6858D;
    color: white;
    text-decoration: none;
    padding: 2%;
    position: relative;
    left: 5%;
    font-size: 20px;
}
#navbar a:hover{
    border: 2px solid #F5F5F4;
    background-color: #B9B3C4;
}
#navbar a:active{
    border: 2px solid #6e555b;
    background-color: #91747b;
}
#name-card img{
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    border-top: 5px solid #9D7982;  
    border-bottom: 5px solid #9D7982;    
}
#content{
    padding: 1%;
    margin: auto;
}
.landing-blurb{
    display: inline-block;
    width: 25%;
    position: relative;
    min-height: 250px;
    margin: auto;
    padding: 3%;
}
.landing-blurb.center{
    border-right: 4px solid #6e555b;
    border-left: 4px solid #6e555b;
}
.pic{
    height: 100%;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.hobbies.pic{
    height: 100%;
    max-width: 100%;
    object-fit: contain;
}
.portrait{
    float: right;
    max-height: 550px;
    margin: 1%;
    border-radius: 10px;
}
.tile{
    padding: 3%;
    border-bottom: 4px solid #6e555b;
    height: 200px;
    margin: auto;
}
#leftbox{
float:left;
max-width: 40%;
height: 200px;
}
#rightbox{
float: right;
max-width: 60%;
height: 200px;
object-fit:contain;
}