html{
    background-color: #E3DBD3;
}
header{
    padding-top: 5%;
}
footer{
    background-color: #9D7982;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}
#navbar{
    background-color: #9D7982;
    padding: 1%;
}
#navbar a{
    width: 25%;
    display: inline-block;
    text-align: center;
    border: 2px solid #9D7982;
    background-color: #A6858D;
    color: white;
    text-decoration: none;
    padding: 2%;
    position: relative;
    left: 5%;
    font-size: 20px;
}
#name-card img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}
#name-card{
    background-color: #A6858D;
    padding: 1%;
}
#content{
    background-color: #A6858D;
}
.landing-blurb{
    display: inline-block;
    width: 30%;
    border-radius: 3px;
    background-color: #C8B7C9;
    position: relative;
    left: 5%;
    min-height: 250px;
}
.pic{
    height: auto;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin: 5% auto;
}