html{
    background-color: #E3DBD3;
}
header{
    padding-top: 3%;
}
footer{
    background-color: #9D7982;
    left: 0;
    padding: 1%;
    font-weight: bold;
}
#navbar{
    background-color: #9D7982;
    padding: 1%;
}
#navbar a{
    width: 25%;
    display: inline-block;
    text-align: center;
    border: 2px solid #9D7982;
    background-color: #A6858D;
    color: white;
    text-decoration: none;
    padding: 2%;
    position: relative;
    left: 5%;
    font-size: 20px;
}
#name-card img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}
#name-card{
    background-color: #A6858D;
    padding: 1%;
}
#content{
    background-color: #A6858D;
    padding: 1%;
    margin: auto;
}
.landing-blurb{
    display: inline-block;
    width: 25%;
    border-radius: 3px;
    background-color: #C8B7C9;
    position: relative;
    min-height: 250px;
    margin: auto;
    padding: 3%;
    height: 350px;
    margin-left: auto; margin-right: auto;
}
.pic{
    height: 200px;
    width: 200px;
    border-radius: 5px;
    display: block;
    margin: auto;
}
.about{
    background-color: #C8B7C9;
    padding: 1%;
    border: 1px solid #9D7982;
    border-radius: 3px;
}
.portrait{
    width: 40%;
    float: right;
    max-height: 550px;
    margin: 1%;
}
.text{
    height: 550px;
}
.tile{
    background-color: #C8B7C9;
    padding: 1%;
    border: 1px solid #9D7982;
    border-radius: 3px;
    height: 200px;
    margin: auto;
    width: 65%;
}